<article class="pokemon-card">
  <div class="pokemon-image">
    <img src="images/__NAME__.png" alt="__NAME__" title="__NAME__">
  </div>
  <section class="pokemon-details">
    <header>
      <h2>__NAME__</h2>
      <div class="pokemon-type">
        __TYPES__
      </div>
    </header>
    <table class="pokemon-stats">
      <tbody>
        <tr>
          <th>Weight</th>
          <td>__WEIGHT__</td>
        </tr>
        <tr>
          <th>Base XP</th>
          <td>__BASE_XP__</td>
        </tr>
        <tr>
          <th>HP</th>
          <td>__HP__</td>
        </tr>
        <tr>
          <th>Attack</th>
          <td>__ATTACK__</td>
        </tr>
        <tr>
          <th>Defense</th>
          <td>__DEFENSE__</td>
        </tr>
        <tr>
          <th>Speed</th>
          <td>__SPEED__</td>
        </tr>
      </tbody>
    </table>
  </section>
</article>